.product-card{
    display: flex;
    box-shadow: -7px -3px 16px 2px #3b4c5140;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    border-radius: 20px;
}

.product-card .left {
    display: flex;
    align-items: center;
}

.product-card img{
    object-fit: contain;
    width: 100px;
    height: 100px;

}

.product-card .left .product-data{
    margin-left: 15px;
}